/* Universal styles */
html {
    font-size: 18px;
}

body {
  font-family: Helvetica;
  color: white;
  width: 100%;
}
.content {
  margin: 0 auto;
  width: 960px;
}
/* Header */
header {
  background-color: black;
}
.logo{
  margin: 0;
  display: flex;
  align-items: center;
}
.logo img {
  height: 1.5rem;
  width: auto;
  padding-left: 0.5rem;
}
.logo span {
  padding: 0.66rem 1rem;
  font-size: 1rem;
  text-transform: uppercase;
}
/* New arrival section */
.new_arrival_container {
  background-image: url("../images/moto.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: auto;
  min-width: 960px;
  height:25rem;
}
.new_arrival {
  background-color: black;
  padding: 2rem 3rem;
  width: 20rem;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  top:9rem;
}
.new_arrival h2 {
  font-size: 1rem;
}
.new_arrival h1 {
  font-size: 2rem;
  margin-top: 0.25rem;
}
/* Navigation section */
.nav_bar {
  background-color: firebrick;
  padding: 0.75rem 0;
}
nav {
  display: flex;
  justify-content: space-between;
}
.nav_med {
  display: none;
}
/* Items section - product feature */
.items_container {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}
.item {
  border: 4px solid black;
  width: 30%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
.item img {
  height: 9rem;
  width: auto;
  padding: 2rem 2rem;
  margin: auto;
}
.item h3 {
  padding: 0.5rem 0;
  background-color: black;
  text-align: center;
}
.glass img {
  height: 4rem;
}
/* Info section */
.info_container {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  margin-bottom: 4rem;
}
.info {
  width:35%;
}
.info h3{
  padding: 1rem 2rem;
  background-color: black;
}
.info p {
  color:black;
  padding-top: 0.25rem;
}
/* Footer section */
footer {
  background-color: black;
  width:100%;
  height:5rem;
}
.copy {
   padding-top: 2.5rem;
}
/* Responsive view 1024px screen */

@media only screen and (max-width: 1024px){
  body {
    width: 960px;
  }

/* Change nav bar to menu only */
  .nav_lrg {
    display:none;
  }
  nav {
    text-align: center;
  }
.nav_med {
  display: block;
}
.items_container {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  overflow: hidden;
  min-width: 960px;
  overflow: hidden;
}
.item {
  border: 4px solid black;
  min-width: 47%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  min-height: 9rem;
}
.glass {
  display: none;
}
.info_container{
  margin-bottom: 4rem;
}
}
/* Responsive view 470px screen */
@media only screen and (max-width: 470px){

  body {
    width: 470px;
  }
  .content {
    width:470px;
  }
.new_arrival_container {
  height:15rem;
  min-width: 470px;
}
.new_arrival {
  background-color: black;
  width: auto;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  top:10rem;
  padding: 1rem 2rem;
}
.new_arrival h2 {
  font-size: 0.77rem;
}
.new_arrival h1 {
  font-size: 1rem;
  margin-top: 0.25rem;
}

} /*end 470px view*/
